@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inspiration&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "lato" sans-serif;
}
body {
  background-color: lightgrey;
}
.page-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .slider-img {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
  .slider {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 20px;
    height: auto;
    // padding: 30px;
  }
  .slider-container {
    display: flex;
    box-sizing: content-box;
    width: 1300px;
    overflow: hidden;
  }
  .slider-button {
    width: auto;
    // padding: 50px;
  }

  .left,
  .right {
    position: absolute;
    color: #2965a0e2;
    font-size: 45px;
    top: 45%;
    font-size: 25px;
    padding: 2px;
    cursor: pointer;
  }
  .left {
    left: 0;
    margin-left: 3rem;
  }
  .right {
    margin-right: 3rem;
    right: 0;
  }
}
